body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#game {
  display: flex;
  width: 100vw;
  height: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}

#game .scene {
  width: 100vw;
  height: 100vw;
  flex-shrink: 0;
}

#game #player {
  width: 80px;
  position: absolute;
}

#game #player img{
  width: 200%;
}

#fullscreen-button {
  height: 50px;
  position: absolute;
  right: 20px;
  top: 20px;
}
